.mainMenu {
    margin-top: 10vh;
    text-align: center;
    font-size: 2vh;
}

.levels {
    margin-top: 10vh;
    display: flex;
    justify-content: center;
}


.levels p {
    margin:2vh;
    padding: 7vh;
    border-radius: 4vh;
    border: #000000, 2vh;
    background-color: #fff111;
}