body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f0f0f0;
}

canvas {
    position: absolute;
    width: 85vw; /* 80% of the viewport width */
    height: 85vh; /* 80% of the viewport height */
    border: 10vw solid black; /* Optional: add a border to the canvas */
}

.mainMenu {
    margin-top: 10vh;
    text-align: center;
    font-size: 2vh;
}

.level {
    margin-top: 10vh;
    display: flex;
    justify-content: center;
}

.level p {
    margin: 4vh;
    padding: 6vh;
    border-radius: 4vh;
    background-color: #34aeff;
    border-color: #000000;
}

