body, html {
    margin: 0;
    padding: 0;
    overflow: hidden; /* Prevent scrollbars */
}

canvas {
    position: absolute;
    top: 0px;
}

.mainMenu {
    margin-top: 10vh;
    text-align: center;
    font-size: 2vh;
}

.level {
    margin-top: 10vh;
    display: flex;
    justify-content: center;
}

.level p {
    margin: 2vh;
    padding: 7vh;
    border-radius: 4vh;
    background-color: #34aeff;
    border-color: #000000;
}

